<div class="row">
	<div class="col-0 col-sm-1 col-md-3">	</div>
  <div class="col-12 col-sm-10 col-md-6">
<h2 class="text-center"> Login </h2>
		<% unless flash.empty? %>
			<div class="alert alert-danger">
					<strong> <%= flash.now[:login_error] %> </strong>
			</div>
		<% end %>
		<%= form_for(:session, url: login_path) do |f| %>
				<%= f.label :username, "Username" %>
				<%= f.text_field :username, class: 'form-control', placeholder: "Enter Username" %>
				<%= f.submit "Login", class: "btn btn-primary btn-lg btn-block", title: "Login" %>
		<% end %>
		<p></p>
			<p>Don't have an account? <%= link_to "Signup Free!", signup_path %></p>
	
	</div>
	<div class="col-0 col-sm-1 col-md-3">	</div>
</div>
