<div class="row my-event">
		<div class="col-md-12">
			<%= image_tag "event-placeholder.png", class: "img-fluid" %>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><%= link_to "#{created_event.name.titlecase}", event_path(id: created_event.id) %></h5>
					<p class="card-text"><%= created_event.description %> </p>
					<p> <%= fa_icon "map-marker" %> <%= created_event.location %> </p>
					<p> <%= fa_icon "calendar" %> <%= created_event.event_date %> | 
						<%= event_status_of created_event %>
					</p>
			</div>
		</div
		
	</div>
</div>

