<h5 class="text-center"> Past | <span class="badge badge-danger">attended</span> </h5>
<% @past_events.each do |e| %>
	<div class="row my-event">
			<div class="col-md-12">
				<%= image_tag "event-placeholder.png", class: "img-fluid" %>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><%= link_to "#{e.name.titlecase}", event_path(id: e.id) %></h5>
							<p> <%= fa_icon "map-marker" %> <%= e.location %>  | <%= fa_icon "calendar" %> <%= e.event_date %> </p>
				</div>
			</div>
		</div>
	</div>
<% end %>