	<p> <%= @event_details.name %> </p>
	<p> <%= @event_details.description %> </p>
	<p> <%= @event_details.location %> </p>
	<p> <%= @event_details.event_date %> </p>
	<p>status: <%= @event_details.event_date < Date.today ? "Past" : "Upcoming" %></p>
	<p>createdby: <%= @event_details.creator.username %> </p>
	<%= render 'partials/event_subscribe' %>
